name: Deploy Docs

on:
    push:
        branches:
            - master
            - docs/* # Useful for testing changes to docs
        tags:
            - 'v*.*.*' # Trigger on version tags like v1.0.0, v2.1.3, etc.
            - 'v*'
            - 'latest'

    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: 'pages'
    cancel-in-progress: false

defaults:
    run:
        shell: bash

jobs:
    build:
        name: Build Docs for ${{ matrix.version }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                version:
                    - v1
                    - latest
                    - ${{ github.ref_name }}
        steps:
            - name: Checkout ${{ matrix.version }}
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  ref: ${{ matrix.version }}
            - name: Get formatted ref name
              id: formatted-ref-name
              run: echo "formatted_ref_name=${{ matrix.version }}" | sed 's/\//_/g' >> $GITHUB_OUTPUT
            - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
              with:
                  run_install: true
            - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  node-version: '24'
                  cache: 'pnpm'
            - name: Setup Pages
              id: pages
              uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b #v5
            - name: Compile TypeScript
              run: pnpm compile
            - name: Build docs
              run: pnpm docs:gen ${{ steps.formatted-ref-name.outputs.formatted_ref_name }}
            - name: Copy latest to root
              if: matrix.version == 'latest'
              run: cp -r docs-html/latest/* docs-html/
            - name: Upload artifact
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: docs-${{ steps.formatted-ref-name.outputs.formatted_ref_name }}
                  path: ./docs-html
                  retention-days: 1
            - name: Where to find the docs
              run: echo "You can find the documentation for version ${{ matrix.version }} at https://jacobshirley.github.io/soql-parser-lite/${{ steps.formatted-ref-name.outputs.formatted_ref_name }}" >> $GITHUB_STEP_SUMMARY
    combine:
        name: Combine Docs
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download artifacts
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  merge-multiple: true
                  path: ./docs-html
            - name: Upload combined artifact
              uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
              with:
                  path: ./docs-html
                  retention-days: 1
                  name: 'github-pages'

    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        needs: combine
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e #v4
